@using PassingData.Models

@model (List<Customer> customers, Product product, string date)


<p>
    Ürün: @Model.product.productName
</p>

<ul>
    @foreach (Customer item in Model.customers)
    {
        <li>@item.FirstName</li>
    }

</ul>

<p>
    Tarih: @Model.date
</p>