@using GettingData.Models
@model (List<Branch> branches, Teacher teacher, Student student)
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h2>Tuple kullanarak öğretmen ekleme sayfası</h2>

<form method="post" asp-controller="teacher" asp-action="addteacherusingtuple">

    <div>
        <label asp-for="teacher.FirstName">isim</label> <br />
                                                        <input type="text" asp-for="teacher.FirstName" />
    </div>

    <div>

        <label asp-for="teacher.LastName">Soyisim</label> <br />
                                                          <input type="text" asp-for="teacher.LastName" />



    </div>


    <div>
        <label asp-for="teacher.BranchID">Branş</label>
        <select asp-for="teacher.BranchID"  asp-items="@(new SelectList(Model.branches,"ID","BranchName"))">
            
        </select>
    </div>

    <div>
        <label asp-for="student.firstName">Öğrenci ismi</label> 
        <br />
        <input type="text" asp-for="student.firstName"  />
    </div>

    <div>
        <label asp-for="student.lastName">Soyisim</label> <br />
                                                          <input type="text" asp-for="student.lastName">
    </div>

    <div>

        <button type="submit">öğretmen ekle</button>
    </div>


</form>
