<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="Baglanti" connectionString="Server=FIRATC//SQLEXPRESS;Database=Northwind;Integrated Security=true"/>


		<add name ="Baglanti2" connectionString="Server=127.0.0.1;Database=Northwind;User=sa;pwd=123"/>
		
	</connectionStrings>
	
</configuration>