


<div class="navbar-header">
    <a class="navbar-brand" href="#">WebSiteName</a>
</div>
<ul class="nav navbar-nav">
    <li class="active"><a asp-controller="Home" asp-action="index">Home</a></li>
    <li><a asp-controller="Home" asp-action="Page1">Öğretmenler</a></li>
    <li><a asp-controller="Home" asp-action="Page2">Öğrenciler</a></li>

</ul>
