@model BookType



<h3 class="text-center">Kitap Güncelleme Sayfası</h3>

<form method="post" asp-area="Management" asp-action="Edit" asp-controller="BookType">

    <div>
    <label class="form-label" asp-for="Name">İsim</label>
    <input type="text"  class="form-control" asp-for="Name" />
    </div>

    <button class="btn btn-primary" type="submit">Güncelle</button>

</form>


